<!-- Header section start. -->
<header>
    <div class="wrapper">
    <h1><a href="/" title="Dogs site">dogs site</a></h1>
    <nav>
        <ul class="menu">
        <li><a href="/en-us/" title="Home">home</a></li>
        <li><a href="/en-us/dogs/" title="Dogs">dogs</a></li>
        <li><a href="/en-us/about/" title="About">about</a></li>
        </ul>
    </nav>
    </div>
</header>
<!-- Header section end. -->